
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap');
body{
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
header{
    margin-top: 0px;
    margin-bottom: 40px;
    background: url(../images/header.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden; 
    padding-top: 0% !important;
  
}

/* navbar styling */
.navbar{
    background-color: rgba(0, 0, 0, 0.541);
    
}
.navbar-brand{
    font-size: 110%;
}
.active-links{
    margin-left: 70%;
}

.nav-item a:hover{
    color: rgb(255, 238, 0) !important;
    transition: 2ms;
    font-family: 'Blinker', sans-serif;
}
/* navbar styling ends */

.searchbar{
    margin: 15% 20%;
    margin-left: 30%;
    display: flex;
}
.searchbar input{
    height: 45px;
    width: 360px;
    border: none;
    background-color: rgb(236, 236, 236);
    border-radius: 2%;
}
.searchbar input:placeholder-shown{
    font-size: 80%;
    padding-left: 2.8%;
    color: rgba(0, 0, 0, 0.473);
}
.searchbar button{
    border-radius: 2%;
    height: 45px;
    width: 115px;
    margin-left: 0%;
    border: none;
    font-size: 80%;
    padding-left: 0%;
    color: rgb(236, 236, 236);
    background-color: orangered;
}
.searchbar button:hover{
    background-color: rgb(26, 107, 228);
}
main{
    padding-top: 5%;
}
main .row{
    margin: 0% 3%;
}
.card img{
    height: 45%;
}
.card{
    height: 70%; 
}
.card-text{
    font-size: 75%;
}
.btn{
    background-color: rgb(0, 132, 255);
    border: 1px solid white;
}







/* for responsive website*/
@media only screen and (max-width: 600px) {
    .active-links{
        margin-left: 0%;
    }
    .searchbar{
        margin: 15% 2% 15% 8%;
      
    }
    .searchbar input{
        height: 40px;
        width: 300px;
    }
    .searchbar button{
        height: 40px;
        width: 100px;
    }
    main .col{
        margin-top: 10%;
    }
    main .row{
        display: list-item;
     
    }
    .card img{
        height: 50%;
    }
    .card{
        height: 350px; 
    }
    .card-text{
        font-size: 60%;
    }
    
  }